/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}
body{
    height: 100vh;
}

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/*  ====================== CSS responsável pelo menu principal ====================*/

.menuwrapper{

    background-color: rgba(255,255,255,0);
    width: 100%;
    height: 76px;
    z-index: 100;
    position: fixed;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    transition:.5s;
}

.menuwrapper__logo{
    margin: 20px;
	float: left;
	width: 200px;
	height: 40px;
	background: url(../img/logo.png) no-repeat center;
	display: block;
}

.menuwrapper__navigation{
    float: right;
    padding: 20px;
}

#menu-responsivo{
    display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../img/menu-icon.png) center;
}

.navigation__item {
    
        display: inline-block;
        float: left;
        padding: 10px 15px 10px 15px;

    }

.navigation__item--anchor{
    color: white;
    text-decoration: none;
}

img{
    width: 100%;
}

.buttongeneral{
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.9em;
}

.button-primary{
    padding: 7px 30px 7px 30px;
    background: #05b9ec;
    color: white;

}

.button-secondery{
    padding: 5px 30px 5px 30px;
    background: transparent;
    color: white;
    border: 1px solid white;
}

/*  ====================== CSS responsável pelo menu principal ====================*/

/*  ====================== CSS responsável pela seção de avaliação ====================*/

.carrousel-movies{
    padding: 50px 75px 50px 75px;
    height: 500px;
    background-image: url(../images/foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-box-shadow: inset 0 -7em 30em 0em black;
    box-shadow: inset 0 -7em 30em 0em black;
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
}

.movierating{
    unicode-bidi: bidi-override;
    direction: rtl;
    width: fit-content;
   
}

.movierating__ratingstar{
    color: #05b9ec;
    display: inline-block;
    position: relative;
    width: 1.1em;
    padding-top: 2px;
}

.movierating > span:hover ~ span:before,
.movierating > span:hover:before{
    content: "\2605";
    position: absolute;
}

.movie-info{
    text-align: left;
    color: white;
}

.movierating__decimal{
    float: right;
    border: 1px solid;
    padding: 1px 4px 3px 4px;
    border-radius: 3px;
    width: 2em;
    color: #05b9ec;
    display: inline-block;
    position: relative;
    width: 2.1em;
    margin: 0px 5px 0px 5px;   
}

.movierating__decimal:before,
.movierating__decimal:hover{
    content: none!important;
}

.moviecategory{
    margin: 10px 10px 20px 0px;
}

.moviecategory__value{
    display: inline-block;
    color: white;
    font-size: 15px;
    margin: 5px;
}

.moviecategory__value:last-child::after{
    padding-right: 10px;
}

.moviecategory__duration{
    display: inline-block;
}

.movie-title{
    text-transform: uppercase;
    font-size: 2.2em;
    color: white;
}

.movieactions{
    margin-left: auto;
    width: 350px;
}

.movieactions__nav{

}

.movieactions__nav--list{

}

.actionsusers{
    float: right;
    margin: 5px;
    color: white;
}

.actionsusers:last-child::before{
    content: "+";
    font-size: 15px;
    color: white;
}

.actionsusers a:last-child{
    color: inherit;
    text-decoration: none;
    font-size: 0.9em;
}

/*  ====================== CSS responsável pela seção de avaliação ====================*/

/*  ====================== CSS responsável pela section dos filmes e tab ====================*/

main {
    min-width: 320px;
    max-width: 1350px;
    padding: 25px 50px 50px 50px;
    margin: 0 auto;
    background: #f5f7f6;
  }

  section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
  }
  
  input {
    display: none;
  }
  
  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
  }
  
  label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }
  
  input:checked + label::before{
      content: '\f008 ';
  }

  label:hover {
    color: #888;
    cursor: pointer;
  }
  
  input:checked + label {
    border-bottom: 2px solid #05b9ec;
    color: #05b9ec;
  }
  
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4 {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
  }

  .moviewrapper{
    width: 280px;
    height: auto;
    background: transparent;
    display: inline-block;
    margin: 12px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }

  .movieposter{
    height: inherit;
  }

  .movieposter__content{
    height: 350px;
    border-radius: 4px 4px 0px 0px;
  }

  .movieinfo{
    background: white;
    padding: 25px 19px 25px 19px;
    align-items: flex-end;
    width: -webkit-fill-available;
  }

  .movieinfo__rating{
    display: inline-block;
    unicode-bidi: bidi-override;
    direction: rtl;
    width: min-content;
  }

  .movieinfo__rating--decimal{
    float: right;
    border: 1.5px solid;
    padding: 2px 5px 3px 6px;
    border-radius: 3px;
    color: #05b9ec;
    width: 2.2em;
  }

  .movieinfo__category{
      padding: 0px;
  }

  .movieinfo__category--genre{
    display: inline-block;
    color: #05b9ec;
    font-size: 12px;
    margin: 8px 5px 5px 0px;
  }

  .movieinfo__category--genre::after{
      content: ",";
  }

 .movieinfo__category--duration{
    display: inline-block;
    color: #05b9ec;
    font-size: 12px;
 }

  .movieinfo__title{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
  }

  .movieplay{

  }

  .moviedetails{

  }
  
  .testando{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

/*  ====================== CSS responsável pela section dos filmes e tab ====================*/

/*  ====================== CSS responsável pela seção de inscrição para novidades ====================*/

.subscribesection{
    display: flex;
    height: 300px;
    background: url(../images/MovieCollage.jpg) no-repeat 100% 100%;
    padding: 0px;
    margin-top: 25px;
    background-size: cover;
}

.subscribesection__text{
    font-size: 1.7em;
    font-weight: 200;
    color: white;
    line-height: 40px;
}

.subscribesection__btn{
    text-decoration: none;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

.subscribewrapper{
  background-color: red;
    width: 100%;
    height: -webkit-fill-available;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/*  ====================== CSS responsável pela seção de inscrição para novidades ====================*/

/*  ====================== Media Queries ====================*/

@media only screen and (max-width : 640px) {
    
        .menuwrapper {
    
           
    
        }
    
        #menu-responsivo {
    
            display:inline-block;
    
        }
    
        .navigation, .menuwrapper__navigation:active .navigation { 
    
            display: none;
            position: absolute;
            padding: 20px;
            background: #fff;
            border: 1px solid #444;
            right: 20px;
            top: 60px;
            width: 50%;
            border-radius: 4px 0 4px 4px;
    
        }
    
        .navigation__item {
    
            text-align: center;
            width: 100%;
            padding: 10px 0;
            margin: 0;
    
        }
    
        .menuwrapper__navigation:hover .navigation {
    
            display: block;
    
        }

        @media screen and (max-width: 650px) {
            label {
              font-size: 0;
            }
            label:before {
              margin: 0;
              font-size: 18px;
            }
          }
          
          @media screen and (max-width: 400px) {
            label {
              padding: 15px;
            }
          }
    }