/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}
body{
    height: 100vh;
}

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/*  ====================== CSS responsável pelo menu principal ====================*/

.menuwrapper{

    background-color: rgba(255,255,255,0);
    width: 100%;
    height: 76px;
    z-index: 100;
    position: fixed;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    transition:.5s;
}

.menuwrapper__logo{
    margin: 20px;
    float: left;
    width: 151px;
    color: white;
    display: inline-flex;
    font-size: 28px;
    text-decoration: none;
}

.menuwrapper__logo--left{
    font-weight: 700;
    text-transform: uppercase;
}

.menuwrapper__logo--right{
    font-weight: 100;
    text-transform: uppercase;
}

.menuwrapper__navigation{
    float: right;
    padding: 20px;
}

#menu-responsivo{
    display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../img/menu-icon.png) center;
}

.navigation__item {
    
        display: inline-block;
        float: left;
        padding: 10px 15px 10px 15px;

    }

.navigation__item--anchor{
    color: white;
    text-decoration: none;
}

img{
    width: 100%;
}

.buttongeneral{
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.9em;
}

.button-primary{
    padding: 7px 30px 7px 30px;
    background: #05b9ec;
    color: white;

}

.button-secondery{
    padding: 5px 30px 5px 30px;
    background: transparent;
    color: white;
    border: 1px solid white;
}

/*  ====================== CSS responsável pelo menu principal ====================*/

/*  ====================== CSS responsável pela seção de avaliação ====================*/

.carrousel-movies{
    padding: 50px 75px 50px 75px;
    height: 500px;
    -webkit-box-shadow: inset 0 -7em 30em 0em black;
    box-shadow: inset 0 -7em 30em 0em black;
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
    
}

.moviebg{
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    image-rendering: -webkit-optimize-contrast;
    background-image: url(../images/foto.jpg);
}

.moviebg:nth-of-type(2){
    background-image: url(../images/dunkirk.jpg);
}

.moviebg:nth-of-type(3){
    background-image: url(../images/antman.jpg);
}

.movierating{
    unicode-bidi: bidi-override;
    direction: rtl;
    max-width: 150px;
   
}

.movierating__ratingstar{
    color: #05b9ec;
    display: inline-block;
    position: relative;
    width: 1.1em;
    padding-top: 2px;
}

.movierating > span:hover ~ span:before,
.movierating > span:hover:before{
    content: "\2605";
    position: absolute;
}

.movie-info{
    text-align: left;
    color: white;
}

.movierating__decimal{
    float: right;
    border: 1px solid;
    padding: 1px 4px 3px 4px;
    border-radius: 3px;
    width: 2em;
    color: #05b9ec;
    display: inline-block;
    position: relative;
    width: 2.1em;
    margin: 0px 5px 0px 5px;   
}

.movierating__decimal:before,
.movierating__decimal:hover{
    content: none!important;
}

.moviecategory{
    margin: 10px 10px 20px 0px;
}

.moviecategory__value{
    display: inline-block;
    color: white;
    font-size: 15px;
    margin: 5px;
}

.moviecategory__value:last-child::after{
    padding-right: 10px;
}

.moviecategory__duration{
    display: inline-block;
}

.movie-title{
    text-transform: uppercase;
    font-size: 2.2em;
    color: white;
}

.movieactions{
    margin-left: auto;
    width: 350px;
    display: flex;
    justify-content: center;
    height: 45px;
    align-items: center;
}

.movieactions__nav{

}

.movieactions__nav--list{
    display: flex;
    align-items: center;
}

.actionsusers{
    float: right;
    margin: 5px;
    color: white;
    position: initial;
    display: inline-block;
}



.actionsusers a:last-child{
    color: inherit;
    text-decoration: none;
    font-size: 0.9em;
}

.rslides_nav{
    display: block;
    width: 32px;
    height: 60px;
    position: absolute;
    top: 35%;
    z-index: 2;
}

.next{
    background-image: url(../images/arrow-right.PNG);
    right: 0px;
    top: 35%;
}

.prev{
    background-image: url(../images/arrow-left.PNG);
    left: 0px;
    top: 35%;
}

/*  ====================== CSS responsável pela seção de avaliação ====================*/

/*  ====================== CSS responsável pela section dos filmes e tab ====================*/

.main-content{
    min-width: 320px;
    max-width: 1350px;
    padding: 25px 50px 50px 50px;
    margin: 0 auto;
    background: #f5f7f6;
  }

  .moviesection {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
  }
  
  input {
    display: none;
  }
  
  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
  }
  
  label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }
  
  input:checked + label::before{
      content: '\f008 ';
  }

  label:hover {
    color: #888;
    cursor: pointer;
  }
  
  input:checked + label {
    border-bottom: 2px solid #05b9ec;
    color: #05b9ec;
  }
  
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4 {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .moviewrapper{
    width: 280px;
    height: 361px;
    background: transparent;
    margin: 25px 15px 25px 15px;
  }

  .movieposter{
  }

  .movieposter__content{
    height: 273px;
    border-radius: 4px 4px 0px 0px;
    image-rendering: -webkit-optimize-contrast;
  }

  .movieinfo{
    background: white;
    padding: 21px 19px 21px 19px;
    width: -webkit-fill-available;
    width: -moz-available;
    bottom: 87px;
    margin-bottom: -85px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(220,220,220,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(220,220,220,0.75);
    box-shadow: 0px 1px 5px 0px rgba(220,220,220,0.75);
  }

  .movieinfo__rating{
    display: inline-block;
    unicode-bidi: bidi-override;
    direction: rtl;
    width: min-content;
  }

  .movieinfo__rating--decimal{
    float: right;
    border: 1.5px solid;
    padding: 2px 5px 3px 6px;
    border-radius: 3px;
    color: #05b9ec;
    width: 2.2em;
  }

  .movieinfo__category{
      padding: 0px;
  }

  .movieinfo__category--genre{
    display: inline-block;
    color: #05b9ec;
    font-size: 0.8rem;
    margin: 0px 5px 5px 0px;
    font-weight: 500;
  }

  .movieinfo__category--genre::after{
      content: ",";
  }

 .movieinfo__category--duration{
    display: inline-block;
    color: #05b9ec;
    font-weight: 700;
    font-size: 0.7rem;
 }

  .movieinfo__title{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
  }

  .movieplay{
    width: fit-content;
    height: 285px;
    position: absolute;
    pointer-events: none;
    border-radius: 4px 4px 0px 0px;
    transition: background-color .2s ease-in;
    
  }
  .movieposter:hover + .movieplay{
    display: block;
    background-color: rgba(0,0,0,0.75);
  }
  
  .testando{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

/*  ====================== CSS responsável pela section dos filmes e tab ====================*/

/*  ====================== CSS responsável pela seção de inscrição para novidades ====================*/

.subscribesection{
    display: flex;
    height: 300px;
    background: url(../images/MovieCollage.jpg) no-repeat 100% 100%;
    padding: 0px;
    margin-top: 25px;
    background-size: cover;
}

.subscribesection__text{
    font-size: 1.7em;
    font-weight: 200;
    color: white;
    line-height: 40px;
}

.subscribesection__btn{
    text-decoration: none;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

.subscribewrapper{
  background-color: red;
    width: 100%;
    height: -webkit-fill-available;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/*  ====================== CSS responsável pela seção de inscrição para novidades ====================*/
/*  ================================ CSS responsável pela footer da página ===========================*/

.footer-wrapper{

}

.copyright{
    text-align: center;
    padding: 30px 0px 30px 30px;
    width: 300px;
}

/*  ================================ CSS responsável pela footer da página ===========================*/

.menuwrapper__logo__bottom{
    margin: 20px;
    width: 151px;
    color: #5fc1e3;
    font-size: 28px;
    text-decoration: none;
}

.menuwrapper__logo__bottom--left{
    font-weight: 700;
    text-transform: uppercase;
}

.menuwrapper__logo__bottom--right{
    font-weight: 100;
    text-transform: uppercase;
}

.footer-wrapper{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.navfooterlist{
    display: inline-flex;
}

.navfooterlist__item{
    margin: 0px 5px 0px 5px;
}

.navfooterlist__item--anchor{
    text-decoration: none;
}
/*  ====================== Animações ====================*/
.buttonload {
    background-color: transparent;
    border: none;
    color: #05b9ec;
    padding: 12px 24px;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 36px;
}

.buttonload__spin{
    margin-right: 10px;
}

.fa-heart:hover{
    color: red;
}

/*  ====================== Animações ====================*/

/*  ====================== Media Queries ====================*/

@media only screen and (max-width : 640px) {
    
        .menuwrapper {
    
           
    
        }
    
        #menu-responsivo {
    
            display:inline-block;
    
        }
    
        .navigation, .menuwrapper__navigation:active .navigation { 
    
            display: none;
            position: absolute;
            padding: 20px;
            background: #fff;
            border: 1px solid #444;
            right: 20px;
            top: 60px;
            width: 50%;
            border-radius: 4px 0 4px 4px;
    
        }
    
        .navigation__item {
    
            text-align: center;
            width: 100%;
            padding: 10px 0;
            margin: 0;
    
        }
    
        .menuwrapper__navigation:hover .navigation {
    
            display: block;
    
        }

        @media screen and (max-width: 650px) {
            label {
              font-size: 0;
            }
            label:before {
              margin: 0;
              font-size: 18px;
            }
          }
          
          @media screen and (max-width: 400px) {
            label {
              padding: 15px;
            }
          }

          @media screen and (min-width: 530px){
            .moviewrapper{
                width: 350px;
                margin: 20px 15px;
            }
          }

          @media screen and (max-width: 750px){
            .carrousel-movies{
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
                flex-direction: column;
                padding: 50px 20px 50px 20px;
                height: 400px;
            }

            .movieactions{
                margin-left: auto;
                width: auto;
                margin-right: auto;
            }

            .moviecategory{
                margin: 10px 0px 10px 0px;
                text-align: center;
            }

            .movie-title{
                text-transform: uppercase;
                font-size: 2.2em;
                color: white;
                margin: 0 auto;
                text-align: center;
            }

            .movierating{
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
                margin-bottom: 20px;
            }
          }
    }